@import "reset";
@import "items/index";
@import "items/exhibit-btn";
@import "shared/header";
@import "shared/footer";

/* FURIMA app stylesheet */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  background: #f8f8f8;
  color: #333;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
}

.main {
  background: #f8f8f8;
}
